source 'https://github.com/CocoaPods/Specs.git'
use_frameworks!

workspace 'Cocoapods-Latest.xcworkspace'


IOS_VERSION='{IOS_VERSION}'
MAC_VERSION='{MAC_VERSION}'

target 'Swift-iOS-WithoutEncryption' do
	platform :ios, IOS_VERSION
	project 'Swift.xcodeproj'
	pod 'PusherSwift', :path => '../../'
end
target 'Swift-iOS-WithEncryption' do
	platform :ios, IOS_VERSION
	project 'Swift.xcodeproj'
	pod 'PusherSwiftWithEncryption', :path => '../../'
end
target 'Swift-macOS-WithoutEncryption' do
	platform :osx, MAC_VERSION
	project 'Swift.xcodeproj'
	pod 'PusherSwift', :path => '../../'
end
target 'Swift-macOS-WithEncryption' do
	platform :osx, MAC_VERSION
	project 'Swift.xcodeproj'
	pod 'PusherSwiftWithEncryption', :path => '../../'
end
target 'ObjectiveC-iOS-WithoutEncryption' do
	platform :ios, IOS_VERSION
	project 'ObjectiveC.xcodeproj'
	pod 'PusherSwift', :path => '../../'
end
target 'ObjectiveC-iOS-WithEncryption' do
	platform :ios, IOS_VERSION
	project 'ObjectiveC.xcodeproj'
	pod 'PusherSwiftWithEncryption', :path => '../../'
end
target 'ObjectiveC-macOS-WithoutEncryption' do
	platform :osx, MAC_VERSION
	project 'ObjectiveC.xcodeproj'
	pod 'PusherSwift', :path => '../../'
end
target 'ObjectiveC-macOS-WithEncryption' do
	platform :osx, MAC_VERSION
	project 'ObjectiveC.xcodeproj'
	pod 'PusherSwiftWithEncryption', :path => '../../'
end


post_install do |pi|
    pi.pods_project.targets.each do |t|
        t.build_configurations.each do |config|
            config.build_settings['MACOSX_DEPLOYMENT_TARGET'] = MAC_VERSION
        end
    end
end