<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PusherSwift-OSX.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>PusherSwift-iOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>PusherSwift-tvOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>PusherSwiftTests-OSX.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>PusherSwiftTests-iOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>PusherSwiftTests-tvOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>337C9EE71C38BA36006CC757</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>337C9EF41C38BD69006CC757</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>337C9EFF1C38BE2E006CC757</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>337C9F131C394197006CC757</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>33831C881A9CF61600B124F1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>33831C931A9CF61600B124F1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>33999D1D1C401F9600AFED30</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>33999D2F1C4020A300AFED30</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>33CB09841C441A9900737D81</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
