source 'https://github.com/CocoaPods/Specs.git'
use_frameworks!

workspace 'Cocoapods-Minimum.xcworkspace'


IOS_VERSION='{IOS_VERSION}'
MAC_VERSION='{MAC_VERSION}'
TVOS_VERSION='{TVOS_VERSION}'

target 'Swift-iOS-WithEncryption' do
	platform :ios, IOS_VERSION
	project 'Swift.xcodeproj'
	pod 'PusherSwift', :path => '../../'
end
target 'Swift-macOS-WithEncryption' do
	platform :osx, MAC_VERSION
	project 'Swift.xcodeproj'
	pod 'PusherSwift', :path => '../../'
end
target 'Swift-tvOS-WithEncryption' do
	platform :tvos, TVOS_VERSION
	project 'Swift.xcodeproj'
	pod 'PusherSwift', :path => '../../'
end
target 'ObjectiveC-iOS-WithEncryption' do
	platform :ios, IOS_VERSION
	project 'ObjectiveC.xcodeproj'
	pod 'PusherSwift', :path => '../../'
end
target 'ObjectiveC-macOS-WithEncryption' do
	platform :osx, MAC_VERSION
	project 'ObjectiveC.xcodeproj'
	pod 'PusherSwift', :path => '../../'
end
target 'ObjectiveC-tvOS-WithEncryption' do
	platform :tvos, TVOS_VERSION
	project 'ObjectiveC.xcodeproj'
	pod 'PusherSwift', :path => '../../'
end
